<!DOCTYPE html>
<html layout:decorate="~{layout_mypage}">
  <head>

  </head>
  <body layout:fragment="mypageContent">
    <!--전체 영역-->
    <div>
      <!--콘텐츠 영역-->
      <div>
        <!--로고 영역-->
        <div>
          로고
        </div>
        <!--콘텐츠 세부 영역-->
        <div class="frame-dvd">
          <!--좌측(정보 확인) 영역-->
          <div class="frame-dvd-l infoBorder">
            <div class="infoTitle">
              회원정보 확인
            </div>
            <div class="infoContent">
              회원정보 수정 전, 기본 정보를 확인하여주시기 바랍니다.
            </div>
            <div class="mt-5 ms-5">
              <p class="mb-4">
                <span class="contentTitle">아이디</span><br>
                <span th:text="${member.memberid}"></span>
              </p>
              <p class="mb-4">
                <span class="contentTitle">이름</span><br>
                <span th:text="${member.membername}"></span>
              </p>
              <p class="mb-4">
                <span class="contentTitle">닉네임</span><br>
                <span th:text="${member.membernick}"></span>
              </p>
              <p class="mb-4">
                <span class="contentTitle">이메일</span><br>
                <span th:text="${member.email}"></span>
              </p>
            </div>
          </div>
          <!--우측 영역-->
          <div class="frame-dvd-l ms-4">
            <div style="padding:150px 0px 150px 0px;">
              <div>
                회원정보 확인을 위해 비밀번호를 입력하세요.
              </div>
              <form method="post" th:action="@{/member/checkPw}">
                <div th:if="${param.error}">
                  <div>아이디나 비밀번호를 확인하3</div>
                </div>
                <div class="form-floating">
                  <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="비밀번호를 입력하세요" autocomplete="off">
                  <label for="floatingPassword">비밀번호</label>
                </div>
                <div class="d-grid gap-2">
                  <br>
                  <button type="submit" class="btn btn-lg btn-primary">비밀번호 확인</button>
                </div>
              </form>
            </div>
  
          </div>





        </div>
      </div>


    </div>

  </body>
</html>