<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>

		<link rel="stylesheet" type="text/css" th:href="@{/css/restEat.css}">

	<title>같이먹자</title>

	</head>
	<body>
		<div layout:fragment="content" class="container">
			<!--들어갈 내용-->
			
			
			
			
			
			
		<div class="col-6 my-3">
			<div class="input-group justify-content-end">
				<input type="text" id="search_kw" class="form-control" th:value="${kw}">
				<button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
			</div>
		</div>
		<form th:action="@{/et/list}" method="get" id="searchForm">
			<input type="hidden" id="kw" name="kw" th:value="${kw}">
			<input type="hidden" id="page" name="page" th:value="${paging.number}">
		</form>
		
		<!--class="card w-75 mb-3"--> 
		<!-- 같이먹기 방 리스트-->	
		<div th:each="et , loop : ${paging}">
		<!--<a href="#"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal">-->  
			<div class="card w-75 mb-3">
				
				<div class="card-body">
					<a th:href=@{|detail/${et.rest.no}/${et.no}|} th:text="${et.ettitle}"></a>
					<p class="card-text" th:text="${et.rest.name}"></p>
					<ul>
						
						<li>
							<a th:text="|모집하는 인원수 : ${#lists.size(et.prtmember)}/${et.prtnumber}|"></a>
						</li>
						
						<li>
							<a th:text="|신청일 : ${#temporals.format(et.regdate , 'yyyy-MM-dd HH:mm')}|"></a>
						</li>
						
						<li>
							<a th:text="|같이먹는날 : ${#temporals.format(et.etdate , 'yyyy-MM-dd HH:mm')}|"></a>
						</li>
						
					</ul>
				</div>
		    <!--<h5 class="card-title" th:value="${방제목}">선배! 마라탕 사주세요</h5>
		    <p class="card-text" th:value="${소제목}">탕후루도 같이?</p>
			<ul>

				<li>
					식당
				</li>
				<li>
					날짜
				</li>
				<li>
					인원수
				</li>	
			</ul>-->
			
			</div>
		</a>
		
		<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered " >
				    <div class="modal-content">
				      <div class="modal-header">
				        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${et.ettitle}"></h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      		<div class="modal-body">
								<p class="card-text" th:value="${소제목}">탕후루도 같이?</p>
				      			<ul>
									<li>
										식당
									</li>
									<li>
										날짜
									</li>
									<li>
										인원수
									</li>	
								</ul>
				
							</div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">참여하기</button>
				      </div>
				    </div>
				  </div>
				</div>-->
		</div>
		

		<div th:if="${!paging.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
						<span>prev</span>
					</a>
				</li>
								
				<li th:each="page : ${#numbers.sequence(0 , paging.totalPages -1)}"
				th:if="${page >= paging.number -5 and page <= paging.number +5}"
				th:classappend="${page == paging.number} ? 'active'" class="page-item">
					<a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
				</li>
						
				<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
						<span>next</span>
					</a>
				</li>
			</ul>
		</div>

		<!-- Modal -->
		
		<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered " >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${제목}"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      		<div class="modal-body">
						<p class="card-text" th:value="${소제목}">탕후루도 같이?</p>
		      			<ul>
							<li>
								식당
							</li>
							<li>
								날짜
							</li>
							<li>
								인원수
							</li>	
						</ul>
		
					</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">참여하기</button>
		      </div>
		    </div>
		  </div>
		</div>-->
		
		<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered " >
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel" th:value="${방제목}">선배! 마라탕 사주세요</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      		<div class="modal-body">
						<p class="card-text" th:value="${소제목}">탕후루도 같이?</p>
		      			<ul>
							<li>
								식당
							</li>
							<li>
								날짜
							</li>
							<li>
								인원수
							</li>	
						</ul>
		
					</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">참여하기</button>
		      </div>
		    </div>
		  </div>
		</div>-->
		
		
		<!--내용의 끝-->
		</div>
		<script layout:fragment="script" type="text/javascript">
			const page_elements = document.getElementsByClassName("page-link");
			Array.from(page_elements).forEach(function(element){
				element.addEventListener('click' , function(){
					document.getElementById('page').value = this.dataset.page;
					document.getElementById('searchForm').submit();
				});
			});
					
					
					
			const btn_search = document.getElementById("btn_search");
			btn_search.addEventListener('click' , function(){
				document.getElementById('kw').value = document.getElementById('search_kw').value;
				document.getElementById('page').value = 0;
				document.getElementById('searchForm').submit();
			});
		</script>
	</body>
</html>