<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>

		
	<title>같이먹자</title>

	</head>
	<body>
		<div layout:fragment="content" >
			<!--들어갈 내용-->
			
			
			
			
			
			
		<div>
			<span th:text="같이먹기">
			</span>
		</div>
		
		
		
		
		<div class="card w-75 mb-3">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    <a href="#" class="btn btn-primary">Button</a>
		  </div>
		</div>
		
		
		
		
		
		<!--내용의 끝-->
		</div>
	</body>
</html>