<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/restdetail.css}">
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<title>맛집검색하자</title>
	<meta charset="UTF-8">
	<script>
		
		function review(){
			$("#collapseOne").toggle();
		}
	</script>					    
	</head>
	<body>
<div layout:fragment="content" class="container">
	
	<div class="rest" >
		<h2 th:text="${rest.name}"></h2>
		
			<!--상단-->
			<div class="upper">
				
				<div class="pic_info">
					<!--가게사진-->
					<div class="pic" >
						<img th:src="${rest.img}" class="img">

						
					</div>
					
					<!--가게정보-->
					<div class="info">
						<ul class="info_detail">
						
							<li th:text="${rest.category}">
								
							</li>
							<li th:text="${rest.menu}">
								
							</li>
							<li th:text="${rest.addr}">
								
							</li>
							<li th:text="${rest.phone}"></li>
						
						</ul>
					</div>
				</div>
				<!--찜, 평점, 리뷰갯수, 랭킹등-->
				<div class="etc">
					<div class="etc_total">
						<div class="jjim" >
								<!--찜하기-->
								<form method="post" th:action="@{|/rest/jjim/${no}|}">
								<button th:if="${jjim == null }" type="submit" class="btn btn-outline-primary"  style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .87rem;" 
								 >♡
								<span class="badge rounded-pill bg-success" th:text="${#lists.size(j)}"></span>	
								</button>									  									
								</form>
								<!--찜취소-->							
								<form method="post" th:action="@{|/rest/nojjim/${no}|}">
								<button th:unless="${jjim == null }" type="submit" class="btn btn-outline-primary"  style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .87rem; " 
								 >♥
								 <span class="badge rounded-pill bg-success" th:text="${#lists.size(j)}"></span>	
							 	</button>						
								</form>	  
						</div>

						<div class="star">평점</div>
						<div class="re">
							<span class="badge rounded-pill bg-success" th:text="|리뷰 ${#lists.size(review)} 개|">
							</span>
						</div>
						<div class="lank">랭킹</div>
					</div>
				</div>
			</div>
				
			<!--하단-->
			<div class="bottom">
				<!--같이먹기-->
				<div class="et">
					<div class="et_mid">
						<!--같이먹기 현황, 신청-->
						<div class="et_now">
							같이먹기 현황
							<div class="card my-3 py-2">
								<div class="mx-3">
									<div class="d-flex justify-content-center" th:text="|현재 진행중인 같이먹기 : ${rest.progresset}건|"></div>
															
															
									<table class="table">
										<thead>
											<td>제목</td>
											<td>먹는날짜</td>
											<td>신청날짜</td>
											<td>방장</td>
										</thead>
																
										<tr th:each="et : ${rest.etList}">
											<div th:if="${#temporals.format(et.etdate , 'yyyy-MM-dd') >= #calendars.format(#calendars.createNow() , 'yyyy-MM-dd')}">
												<td><a th:href="@{|/et/detail/${rest.no}/${et.no}|}" th:text="${et.ettitle}"></a>
													<span class="text-danger small ms-2" th:text="|${#lists.size(et.prtmember)}/${et.prtnumber}|"></span>
												</td>
												<td th:text="${#temporals.format(et.etdate , 'yyyy-MM-dd HH:mm')}"></td>
												<td th:text="${#temporals.format(et.regdate , 'yyyy-MM-dd HH:mm')}"></td>
												<td th:text="${et.applymember.membernick}"></td>
											</div>
										</tr>
									</table>
								</div>
													
														
							</div>
						</div>
						<!--같이먹기 신규생성-->
						<div sec:authorize="isAuthenticated()" class="et_new">
							같이먹기 신규생성
							<div class="card my-3 py-2">
														
								<form th:action="@{|/et/create/${rest.no}|}" method="post">
									<div class="d-flex justify-content-center">
										<h5>새 같이먹기 신청</h5>
									</div>
															
									<table class="table">
																
										<tr class="my-3">
											<td>
												<b>제목</b>
												<input type="text" name="ettitle" id="ettitle" class="form-control">
											</td>
																	
											<td>
												<b>신청일시</b>
												<input type="datetime-local" name="etdate" id="etdate" class="form-control">
											</td>
										</tr>
																
										<tr>
											<td>
												<b>인원수</b>
												<select type="text" name="prtnumber" id="prtnumber" class="form-control">
													<option value="" selected>인원수 선택</option>
													<option value="2">2명</option>
													<option value="3">3명</option>
													<option value="4">4명</option>
												</select>
											</td>
																	
											<td>
												<b>선호 성별</b>
												<select type="text" name="prefgender" id="prefgender" class="form-control">
													<option value="" selected>성별 선택</option>
													<option value="male">남</option>
													<option value="female">여</option>
													<option value="both">혼성</option>
												</select>
											</td>
																	
											<td>
												<b>선호 mbti</b>
												<select type="text" name="prefmbti" id="prefmbti" class="form-control">
												<option value="" selected disabled="disabled">MBTI</option>
												<option value="ENFJ">ENFJ</option>
												<option value="ENFP">ENFP</option>
												<option value="ENTJ">ENTJ</option>
												<option value="ENTP">ENTP</option>
												<option value="ESFJ">ESFJ</option>
												<option value="ESFP">ESFP</option>
												<option value="ESTJ">ESTJ</option>
												<option value="ESTP">ESTP</option>
												<option value="INFJ">INFJ</option>
												<option value="INFP">INFP</option>
												<option value="INTJ">INTJ</option>
												<option value="INTP">INTP</option>
												<option value="ISFJ">ISFJ</option>
												<option value="ISFP">ISFP</option>
												<option value="ISTJ">ISTJ</option>
												<option value="ISTP">ISTP</option>
												</select>
											</td>
										</tr>
									</table>
												
									<div class="d-flex justify-content-end">
										<input type="submit" value="신청하기" class="btn btn-primary my-3 mx-3">
									</div>
								</form>
												
							</div>
						</div>
					</div>
				</div>
				
				<!--리뷰-->
				<div class="review">
					<!--리뷰쓰기-->
					<div class="accordion-item">
					  <div class="accordion-header" id="headingOne" sec:authorize="isAuthenticated()">
					    <button class="accordion-button" type="button" onclick="review()">
					     리뷰쓰기(글자 눌러조★)
					    </button>
					  </div>
					  <div id="collapseOne"  style="display: none;">
					    <div class="accordion-body">
								<div class="wrapping outline">
									<form method="post" th:action="@{|/rest/review/create/${rest.no}|}" th:object="${reviewForm}">
										<div th:replace="~{form_errors :: formErrorsFragment}"></div>
											<div><textarea th:field="*{content}" rows="3" placeholder="리뷰를 작성해주세요"></textarea></div>
											<div class="dvd2">
													<button type="submit" class="btn btn-primary">리뷰등록</button>
											</div>
									</form>
								</div>					      
						</div>
					  </div>
					</div>
					<!--리뷰 리스트-->
					<th:block th:each="review : ${rest.reviewList}" th:field="${review}">
						<div class="re_dvd" >
							<ul class="list-group">
							  <li class="list-group-item d-flex justify-content-between align-items-center" >
							    <span th:text="|작성자 : ${review.membernick}|"></span>
							    <span th:text="|내용 : ${review.content}|"></span>
								<span th:text="|최초 작성일 : ${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
									<div class="review_edit" sec:authorize="isAuthenticated()">
										<p th:if="${review.author.memberid != null and #authentication.getPrincipal().getUsername() == review.author.memberid}">
										<a th:href="@{|/rest/review/delete/${rest.no}/${review.no}|}" onclick="confirm('정말로 삭제하시겠습니까?')">삭제</a>
									</div>							
							  </li>
							</ul>						
						</div>
					</th:block>
				</div>
				
				<!--지도-->
				<div class="map">


					<form>
						<input type="hidden" th:value="${rest.map1}" id="map1" >
						<input type="hidden" th:value="${rest.map2}" id="map2">
						<input type="hidden" >
					</form>
					<!DOCTYPE html>
					<html>
					<head>
					    <meta charset="UTF-8">
					    <meta http-equiv="X-UA-Compatible" content="IE=edge">
					    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
					    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=/zcynsyz8ui"></script>
					</head>
					<body>
					<div id="map" style="width:100%;height:400px;"></div>
					<script>		
					var map33 = document.querySelector("#map1").value;
					var map44 = document.querySelector("#map2").value;
						
					var mapOptions = {
					    center: new naver.maps.LatLng(map33, map44),
					    zoom: 18
					};
					var map = new naver.maps.Map('map', mapOptions);

					var marker = new naver.maps.Marker({
					    position: new naver.maps.LatLng(map33, map44),
					    map: map
					});	
					</script>
					</body>
					</html>
				</div>	
			</div>
	</div>
	
	

</div>
</body>
</html>



