<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/restList.css}">
	<title>맛집검색하자</title>
	</head>
	<body>
		<div layout:fragment="content" >
		<div class="mid">
			<div class="search_header">
				

					<!--검색-->
					<div class="search">
							<div class="input-group">
							<input type="text" id="search_kw" class="form-control" th:value="${kw}">
							<button class="btn btn-outline-primary" type="button" id="btn_search">찾기</button>
							</div>
					</div>
						
							<form th:action="@{/rest/list/search}" method="get" id="searchForm">
							<input type="hidden" id="kw" name="kw" th:value="${kw}">
									   
							</form>
					
				
					
			</div>
			
	
			
			
			
			<!--식당사진 리스트-->
			<div class="list">
				<div class="card border-primary mb-3   c" style="max-width: 25rem;" th:each="rest : ${paging}">
					<a th:href="@{|/rest/detail/${rest.no}|}">
								  <h5 class="card-header ">
									<span th:text="${rest.name}"></span></h5>
								 
								 
						<!--사진-->	<img th:src="${rest.img}" class="img">
								  <div class="card-body">
								    <p class="card-text" th:text="${rest.menu}"></p>
								  </div>
								 
								  
						<!--태그-->	<div class="card-footer text-muted " >
									<span  class="tag" th:text="${rest.no}">
								   태그넣는곳	
								   </span>
								  </div>
					</a>			  
				</div>
			</div>
			
			<!--페이징-->
			<div th:if="${!paging.isEmpty()}">
					<ul class="pagination justify-content-center">

						<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
							<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
								<span>이전</span>
							</a>
						</li>
						
						<li th:each="page : ${#numbers.sequence(0, paging.totalPages-1) }"
						th:if="${page >= paging.number -3 and page <= paging.number + 3}"
						th:classappend="${page==paging.number} ? 'active'" class="page-item">
							<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
						</li>
						
						<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
							<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
								<span>다음</span>
							</a>
						</li>
					</ul>
				</div>
	
		</div>
		
		
		</div>
		
		<!--검색 js-->
		<script layout:fragment="script" type='text/javascript'>

		const btn_search = document.getElementById("btn_search");
		btn_search.addEventListener('click', function() {
		    document.getElementById('kw').value = document.getElementById('search_kw').value;
		  
		    document.getElementById('searchForm').submit();
		});
		</script>
	</body>
</html>
	