<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/rest.css}">
	<title>맛집검색하자</title>
	
	<style>
		.header{
			
			height: 250px;
			background-color: peachpuff;
			
		}
		.search{
			margin: 2%;
		}
		
	</style>
	</head>
	<body>
		<div layout:fragment="content" >
			
				<div class="header" role="banner">
				가게목록


				
				
				</div>
			
			
				<div class="search" >	
					<form class="d-flex" >
				        <input class="form-control me-sm-2" type="search" placeholder="Search">
				        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
				
			<div class="container">
			<div>
<!--비빔밥-->			<a th:href="@{/rest/list}"><img  src="https://cdn-icons-png.flaticon.com/128/8740/8740490.png">
	
					</a>
<!--딤섬-->			<img src="https://cdn-icons-png.flaticon.com/128/12170/12170831.png">
<!--초밥-->			<img src="https://cdn-icons-png.flaticon.com/128/2714/2714023.png">
			</div>
			<div>
<!--고기-->			<img src="https://cdn-icons-png.flaticon.com/128/676/676746.png">
<!--딸기케이크-->		<img src="https://cdn-icons-png.flaticon.com/128/9997/9997743.png">
<!--떡볶이-->			<img src="https://cdn-icons-png.flaticon.com/128/2276/2276869.png">
			</div>
			<div>
<!--맥주-->			<img src="https://cdn-icons-png.flaticon.com/128/1895/1895818.png">
<!--햄버거-->			<img src="https://cdn-icons-png.flaticon.com/128/5508/5508475.png">
<!--우동-->			<img src="https://cdn-icons-png.flaticon.com/128/2515/2515126.png">

			</div>
			
			</div>
		</div>
	</body>
</html>

