<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/restList.css}">
	<title>맛짐검색하자</title>
	</head>
	<body>
		<div layout:fragment="content" class="container">
			식당리스트
		
		<!--음식종류 카테고리-->
		<div class="category"></div>
		
		<!--검색-->
		<div class="serch"></div>- 
		
		<!--식당사진 리스트-->
		<div class="list">
			<div class="list_pic">
				
				
			</div>
			<div class="list_tag">
				
			</div>
			
			
			
		</div>
			
		</div>
	</body>
</html>
	