<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	
	
	<style>
	
			img.siz  {
				width:80px;
			}
			
		
			
		</style>
	
	
	
	<div width="500px;">
	
	<h2 class="border-bottom py-2">친구</h2>
	
		
	<h6 class="py-2 my-3" th:text="|친구 ${#lists.size(member.friend)}명|"></h6>
		
		<table class="table table-hover">
							<thead class="table-primary">
								<tr>
									<th>친구</th>
							
								</tr>
							</thead>
							<tbody>
								
								<tr th:each="friends : ${member.friend}">
									<td>
										<img class="siz" th:src="@{|/img/${friends.image.storeFilename}|}" th:if="${friends.image != null}">
										<img class="siz" th:unless="${friends.image != null}" src="/img/default_profile.png" >&nbsp; &nbsp; &nbsp;
										
										<span href="#" th:text="${friends.membernick}"></span>
									 
										
										<div class="d-flex justify-content-end">
										<form th:action="@{/friend/delete}" method="post">
										<input type="hidden" name="friendid" th:value="${friends.memberid}">
									    <button class="btn btn-primary" onclick="alert('친구 삭제 완료')"  type="submit" >친구 삭제</button> 
										
										</form>
										</div>
									  	
									</td>
								
									</tr>
									
								
						
							</tbody>
							
						</table>
</div>

</div>


</html>
