<html layout:decorate="~{layout_mypage}">
<div  layout:fragment="mypageContent">
	
	
	<style>
	
			img.siz  {
				/*width:80px;*/
				
				border-radius: 50%;
				width:80px;
				height: 80px;
				object-fit: cover;
				margin-left: auto;
				margin-right: auto;
				vertical-align: middle;
			}
			
		
			
		</style>
	
	
	
	<div style="width:500px;">
	
	<h2 class="border-bottom py-2">친구</h2>
	
		
	<h6 class="py-2 my-3" th:text="|친구 ${#lists.size(member.friend)}명|"></h6>
		
		<table class="table table-hover">
			<thead class="table-primary">
				<tr>
					<td colspan="3">친구</td>
				</tr>
			</thead>
		
			<tbody>
				
				<th:block th:each="friends : ${member.friend}">

					<tr th:if="${friends.memberid != null}">
					<td>
					<img class="siz" th:src="@{|/img/${friends.image.storeFilename}|}" th:if="${friends.image != null}">
					<img class="siz" th:unless="${friends.image != null}" src="/img/default_profile.png" >&nbsp; &nbsp; &nbsp;
										
					<span><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="${friends.membernick}"></a></span>
					</td>					 
					
					<td style="vertical-align: middle;">
												
					<div class="d-flex justify-content-end"> 
					<form th:action="@{/friend/delete}" method="post">
					<input type="hidden" name="friendid" th:value="${friends.memberid}">
						<button class="btn btn-primary" onclick="alert('친구 삭제 완료')"  type="submit" >친구 삭제</button> 					
					</form>
					</div>
					</td>			  	
					</tr>



				</th:block>				
				
									
								
						
			</tbody>
							
		</table>
			

		<!-- Modal -->
		<!-- 프로필 보기 Modal -->	
												<div class="modal"  th:attr="id='profile' +${freeComment.author.no}"   tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																						
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
														
																<h1 class="modal-title fs-5" id="exampleModalLabel">
																	<span th:text="|${freeComment.author.membernick}님의 프로필|"></span>	
																</h1>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body" >
																<!-- 프로필 사진 -->
																<div class="d-flex justify-center" >
																	<img class="profileImage" th:src="@{|/img/${freeComment.author.image.storeFilename}|}" th:if="${freeComment.author.image != null}">
																	<img class="profileImage" th:unless="${freeComment.author.image != null}" src="/img/default_profile.png" >
																</div>
																<br>								
																<ul class="list-group" >
																	<li class="list-group-item d-flex justify-content-between align-items-center">mbti
																		<span th:if="${freeComment.author.profile != null}" th:text="${freeComment.author.profile.mbti}"></span>
																		<span th:if="${freeComment.author.profile == null}" th:text="미입력"></span>	
																	</li>
																	<li class="list-group-item d-flex justify-content-between align-items-center">성별
																		<span th:if="${freeComment.author.profile != null}" th:text="${freeComment.author.profile.gender}"></span>
																		<span th:if="${freeComment.author.profile == null}" th:text="미입력"></span>	
																	</li>
																	<li class="list-group-item d-flex justify-content-between align-items-center">자기소개
																		<span th:if="${freeComment.author.profile != null}" th:text="${freeComment.author.profile.content}"></span>
																		<span th:if="${freeComment.author.profile == null}" th:text="미입력"></span>	
																	</li>
																</ul>
															</div>															
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
															</div>
														</div>
													</div>
												</div>
		
		
		
		
		
		
		

		
</div>


</div>


</html>
