<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<title>모두 모이자, 모모! 회원 가입 약관</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/momoSignup.css}">
		<script defer th:src="@{/js/momoSignup_cou.js}"></script>

	</head>
	<body>
		<!--전체 영역-->
		<div layout:fragment="content">
			
			<!--회원 가입 동의 박스-->
			<div class="box">
				<div class="frame-t3">
					<fieldset>
						<form method="get" id="form_wrap" th:action="@{/member/signup_next}">
							<!--타이틀-->
							<div>
								[모두 모이자, 모모] 회원 가입<br>
							</div>
						  <!--전체 동의-->
					    <div class="form-check selectAll py-4" id="terms_check_all">
								<p class="title">전체 동의하기</p>
							  <label class="form-check-label" for="flexCheckDefault">
									<input class="form-check-input ms-1" type="checkbox" id="checkAll" name="checkAll">
									&nbsp;&nbsp;모모 이용약관, 개인정보 처리방침에 모두 동의합니다.
								</label>
					    </div>
						  <!--약관-->
					    <div class="form-check pt-3 pe-4" id="form_check">
								<table width="100%">
									<tr>
										<td width="80%">
												<div>
													<label class="form-check-label mb-2" for="flexCheckDefault">
														<input class="form-check-input ms-1" type="checkbox" name="agreement" id="termsOfService" required>
														&nbsp;&nbsp;<span class="ncsr">[필수] </span>이용약관
													</label>
												</div>
										</td>
										<td style="text-align: right;">
											<p class="detailCheck" id="open">
												자세히 보기 >
											</p>
										</td>
									</tr>
								</table>
					    </div>
						  <!--개인정보-->
					    <div class="form-check pt-3 pe-4" id="form_check">
								<table width="100%">
									<tr>
										<td width="80%">
											<div>
													<label class="form-check-label mb-2" for="flexCheckDefault">
														<input class="form-check-input ms-1" type="checkbox" name="agreement" id="privacyPolicy" required>
														&nbsp;&nbsp;<span class="ncsr">[필수] </span>개인정보 처리방침
													</label>
												</div>
										</td>
										<td style="text-align: right;">
											<p class="detailCheck" id="open">
												자세히 보기 >
											</p>
										</td>
									</tr>
								</table>
					    </div>
						  <div class="button my-4 frame-t3">
							 <div class="d-grid gap-2">
							   <button class="btn btn-lg btn-primary" type="submit" id="nextStep" disabled>다음</button>
							 </div>
						  </div>
					  </form>
					</fieldset>
				</div>
				<!--이용약관과 개인정보 처리방침-->
				<div class="modal" id="modal-box">
					<div class="modal-dialog" role="document">
						<div class="modal-content modal-size">
							<div class="modal-header">
								<h5 class="modal-title">이용약관</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close">
									<span aria-hidden="true"></span>
								</button>
							</div>
							<div class="modal-body">
								<p>이용약관입니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal" id="modal-box">
					<div class="modal-dialog" role="document">
						<div class="modal-content modal-size">
							<div class="modal-header">
								<h5 class="modal-title">개인정보 처리방침</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close">
									<span aria-hidden="true"></span>
								</button>
							</div>
							<div class="modal-body">
								<p>개인정보 처리방침입니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script layout:fragment="script">
			var btn = document.getElementById("like")
			
			btn.addEventListener('click',function(){
				btn.classList.toggle('active')
				location.href = this.dataset.uri;
			})

		</script>
		
	</body>
</html>