<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/momoSignup.css}">
		<title>회원가입</title>
	</head>
	<body>
		<!--전체 영역-->
		<div layout:fragment="content">
			<!--회원가입 영역-->
			<div align="center">
				<!--로고 영역-->
				<div>
					로고
				</div>
				<!--입력 필드 영역-->
				<div class="frame-t1">
					<!--상세 필드 영역-->
					<form method="post" th:action="@{/member/signup}" th:object="${memberCreateForm}">
						<div>
							필수 입력 정보
						</div>
						<div class="border border-secondary-subtle rounded">
							<div th:replace="~{/member/member_form_errors :: formErrorsFragment}">
							</div>
							<div>
								<table>
									<tr>
										<td><i class="fi fi-sr-user"></i> 아이디</td>
										<td><input type="text" th:field="*{memberid}"></td>
									</tr>
									<tr>
										<td><i class="fi fi-sr-lock"></i> 비밀번호</td>
										<td><input type="password" th:field="*{password1}"></td>
									</tr>
									<tr>
										<td><i class="fi fi-sr-lock"></i> 비밀번호 확인</td>
										<td><input type="password" th:field="*{password2}"></td>
									</tr>
									<tr>
										<td><i class="fi fi-sr-grin-squint"></i> 이름(실명)</td>
										<td><input type="text" th:field="*{membername}"></td>
									</tr>
									<tr>
										<td><i class="fi fi-sr-grin-beam"></i> 닉네임</td>
										<td><input type="text" th:field="*{membernick}"></td>
									</tr>
									<tr class="last">
										<td><i class="fi fi-sr-envelope"></i> 이메일</td>
										<td><input type="email" th:field="*{email}"></td>
									</tr>
								</table>
							</div>

						</div>

						<div>
							선택 입력 정보
						</div>
						<div class="border border-secondary-subtle rounded">
							<!--
							<div th:replace="~{/member/member_form_errors :: formErrorsFragment}">
							</div>
						-->
							<div>
								<table>
									<tr>
										<td><i class="fi fi-sr-user"></i> 성별</td>
										<td><input type="text" th:field="*{gender}"></td>
									</tr>
									<tr>
										<td><i class="fi fi-sr-lock"></i> MBTI</td>
										<td><input type="text" th:field="*{mbti}"></td>
									</tr>
									<tr>
										<td><i class="fi fi-sr-lock"></i> 자기소개</td>
										<td><input type="text" th:field="*{content}"></td>
									</tr>
								</table>
							</div>

						</div>
						<div>
							<div class="d-grid gap-2">
								<br>
								<button type="submit" class="btn btn-lg btn-primary">회원가입</button>
							</div>
						</div>

						
					
					</form>

				</div>
			</div>
		</div>
	</body>
</html>

<!--
<div>
								<table style="border:0px;">
									<tr>
										<td><i class="fi fi-sr-user"></i> 아이디</td>
										<td><input type="text" th:field="*{memberid}"></td>
									</tr>
								</table>
							</div>
							<div>
								<table style="border:0px;">
									<tr>
										<td><i class="fi fi-sr-lock"></i> 비밀번호</td>
										<td><input type="password" th:field="*{password1}"></td>
									</tr>
								</table>
							</div>
							<div>
								<table style="border:0px;">
									<tr>
										<td><i class="fi fi-sr-lock"></i> 비밀번호 확인</td>
										<td><input type="password" th:field="*{password2}"></td>
									</tr>
								</table>
							</div>
							<div>
								<table style="border:0px;">
									<tr>
										<td><i class="fi fi-sr-grin-squint"></i> 이름(실명)</td>
										<td><input type="text" th:field="*{membername}"></td>
									</tr>
								</table>
							</div>
							<div>
								<table style="border:0px;">
									<tr>
										<td><i class="fi fi-sr-grin-beam"></i> 닉네임</td>
										<td><input type="text" th:field="*{membernick}"></td>
									</tr>
								</table>
							</div>
							<div>
								<table style="border:0px;">
									<tr class="last">
										<td><i class="fi fi-sr-envelope"></i> 이메일</td>
										<td><input type="email" th:field="*{email}"></td>
									</tr>
								</table>
							</div>


-->