<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/momoCommunity.css}">
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-straight/css/uicons-bold-straight.css'>
	</head>
	<body>

		<div layout:fragment="content">
			<!--전체 영역(width:1280px)-->
			<div class="frame-c">
				<!--로고 영역(?)-->
				<div>


				</div>
				<!--게시판 전체 영역(width:1100px)-->
				<div class="frame-b">
					<!--게시물 본문-->
					<div class="frame-f">
						<!--게시물 정보 출력(제목, 작성자, 조회수 등)-->
						<div class="postingInfoBox underline">
							<!--게시판 이동 링크-->
							<div class="postingBoardInfo">
								<span class="btitle" th:href="@{/free/list}">자유게시판 <i class="fi fi-sr-caret-right"></i></span>
							</div>
							<!--게시물 제목-->
							<div class="postingTitle" align="left" th:text="${freePosting.subject}">
							</div>
							<!--게시물 세부 정보-->
							<div class="frame-d">
								<!--작성자 정보-->
								<div class="frame-dl half">
									<div class="frame-d">
										<div class="frame-dl" style="width:90px;">
											<img class="authorImageB" th:if="${freePosting.author.image != null}" th:src="@{|/img/${freePosting.author.image.storeFilename}|}" >
											<img class="authorImageB" th:unless="${freePosting.author.image != null}" src="/img/default_profile.png" >
										</div>
										<div class="frame-dl postingAuthorInfo">
												<span th:text="${freePosting.membernick}"></span>
												<span class="badge bg-dark">프로필</span>
												<span class="badge salmon">친구 추가</span><br>
												<span class="postingRankingInfo" th:text="|조회수 : ${freePosting.cnt}|"></span>
												<span class="postingRankingInfo" th:text="${#temporals.format(freePosting.createDate, 'yyyy-MM-dd HH:mm')}"></span>
												<span class="postingRankingInfo" th:if="${freePosting.updateDate != null}" th:text="|(최종 수정일 : ${#temporals.format(freePosting.updateDate, 'yyyy-MM-dd HH:mm')})|"></span>
										</div>
									</div>
								</div>
								<!--게시물 정보-->
								<div class="frame-dl half right">
									<p class="postingRankingInfo">
									</p>
								</div>
							</div>
						</div>

						<!--게시물 본문 출력-->
						<div class="underline">
							<!--본문-->
							<div class="postingContentBox">
								<div th:text="${freePosting.content}"></div>
							</div>

							<!--추천과 비추천-->
							<div class="ddabongBox">
								<table style="width:100%;">
									<tr>
										<th:block sec:authorize="isAnonymous()">
											<td style="width:50%;border-right:1px solid #e1e1e1;">
												<i class="fi fi-sr-thumbs-up"></i><br>
												<span th:text="${freePosting.ddabong.size()}" class="ddabongText"></span>
											</td>
											<td>
												<i class="fi fi-sr-thumbs-down"></i><br>
												<span th:text="${freePosting.nope.size()}" class="ddabongText"></span>
											</td>
										</th:block>
									
										<th:block sec:authorize="isAuthenticated()">
											<td style="width:50%;border-right:1px solid #e1e1e1;" th:if="${#sets.contains(freePosting.ddabong, #authentication.getPrincipal.getUsername())}">
												<i href="javascript:void(0);" class="ddabong fi fi-sr-thumbs-up text-success"
												th:data-uri="@{|/free/ddabong/${freePosting.no}|}">
												</i><br>
												<span th:text="${freePosting.ddabong.size()}" class="ddabongText"></span>
											</td>
											<td style="width:50%;border-right:1px solid #e1e1e1;" th:if="${!#sets.contains(freePosting.ddabong, #authentication.getPrincipal.getUsername())}">
												<i href="javascript:void(0);" class="ddabong fi fi-sr-thumbs-up"
												th:data-uri="@{|/free/ddabong/${freePosting.no}|}">
												</i><br>
												<span th:text="${freePosting.ddabong.size()}" class="ddabongText"></span>
											</td>
											<td th:if="${#sets.contains(freePosting.nope, #authentication.getPrincipal.getUsername())}">
												<i href="javascript:void(0);" class="nope fi fi-sr-thumbs-down text-danger"
												th:data-uri="@{|/free/nope/${freePosting.no}|}">
												</i><br>
												<span th:text="${freePosting.nope.size()}" class="ddabongText"></span>
											</td>
											<td th:if="${!#sets.contains(freePosting.nope, #authentication.getPrincipal.getUsername())}">
												<i href="javascript:void(0);" class="nope fi fi-sr-thumbs-down"
												th:data-uri="@{|/free/nope/${freePosting.no}|}">
												</i><br>
												<span th:text="${freePosting.nope.size()}" class="ddabongText"></span>
											</td>
										</th:block>
									</tr>
								</table>
							</div>
						</div>

						<!--댓글 정보 영역(개수 출력)-->
						<div class="commentInfoBox f4f4f4">
							댓글이 <strong th:text="${#lists.size(freePosting.freeCommentList)}"></strong>개 작성되었습니다.</a>
						</div>

						<!--댓글 노출 영역-->
						<div>
								<!--댓글 반복 출력 영역-->
								<div>
									<th:block th:each="freeComment : ${freePosting.freeCommentList}" th:field="${freeComment}">
										<div class="commentBox frame-d">
											<!--댓글 정보 영역-->
											<table style="width:100%;">
												<tr>
													<td style="width:70px;vertical-align:top;" rowspan="4">
														<img class="authorImage" th:if="${freeComment.author.image != null}" th:src="@{|/img/${freeComment.author.image.storeFilename}|}" >
														<img class="authorImage" th:unless="${freeComment.author.image != null}" src="/img/default_profile.png" ><br>
													</td>
													<td style="width:40%;text-align:left;" class="commentNickW">
														<span th:text="${freeComment.membernick}"></span>
														<span class="badge bg-dark">프로필</span>
														<span class="badge salmon">친구 추가</span>
													</td>
													<td style="text-align:right;">
														<th:block sec:authorize="isAnonymous()">
														 <i class="fi fi-sr-thumbs-up ddabong"></i>
														 <span th:text="|추천(${freeComment.ddabong.size()})|"></span>
														 <i class="fi fi-sr-thumbs-down nope"></i>
														 <span th:text="|비추(${freeComment.nope.size()})|"></span>
														</th:block>
														<th:block sec:authorize="isAuthenticated()">
														 <i class="fi fi-sr-thumbs-up text-success ddabong" href="javascript:void(0);"
														 th:data-uri="@{|/free/comment/ddabong/${freePosting.no}/${freeComment.no}|}"
														 th:if="${#sets.contains(freeComment.ddabong, #authentication.getPrincipal.getUsername())}"></i>
														 <i class="fi fi-sr-thumbs-up ddabong" href="javascript:void(0);"
														 th:data-uri="@{|/free/comment/ddabong/${freePosting.no}/${freeComment.no}|}"
														 th:if="${!#sets.contains(freeComment.ddabong, #authentication.getPrincipal.getUsername())}"></i>
														 <span th:text="|추천(${freeComment.ddabong.size()})|"></span>
														 <a ></a>
														 <i class="fi fi-sr-thumbs-down text-danger nope" href="javascript:void(0);"
														 th:data-uri="@{|/free/comment/nope/${freePosting.no}/${freeComment.no}|}"
														 th:if="${#sets.contains(freeComment.nope, #authentication.getPrincipal.getUsername())}"></i>
														 <i class="fi fi-sr-thumbs-down nope" href="javascript:void(0);"
														 th:data-uri="@{|/free/comment/nope/${freePosting.no}/${freeComment.no}|}"
														 th:if="${!#sets.contains(freeComment.nope, #authentication.getPrincipal.getUsername())}"></i>
														 <span th:text="|비추(${freeComment.nope.size()})|"></span>
														</th:block>
													</td>
												</tr>
												<tr>
													<td colspan="2">
														<div th:text="${freeComment.content}"></div>
													</td>
												</tr>
												<tr class="commentInfo-s">
													<td style="width:40%;text-align: left;">
														<span th:text="${#temporals.format(freeComment.createDate, 'yyyy-MM-dd HH:mm')}"></span>
														<span th:if="${freeComment.updateDate != null}" 
														th:text="|(최종 수정일 : ${#temporals.format(freeComment.updateDate, 'yyyy-MM-dd HH:mm')})|"></span>
													</td>
													<td style="text-align: right;">
														<span class="delete fw-bold" th:if="${freeComment.author.memberid != null and #authentication.getPrincipal().getUsername() == freeComment.author.memberid}"
														th:data-uri="@{|/free/comment/delete/${freePosting.no}/${freeComment.no}|}" href="javascript:void(0);">댓글 삭제</span>
													</td>
												</tr>
												<!--댓글의 댓글 작성-->
												<tr>
													<td colspan="2">
														<!--댓글의 댓글 쓰기 영역-->
														<div sec:authorize="isAuthenticated()">
															<details>
																	<summary class="commentNickW"><span>답댓글 쓰기</span></summary>
																<!--댓글 폼 영역-->
																<div class="frame-comment-reply">
																	<!--닉네임 영역-->
																	<div class="commentNickW">
																		<span th:text="${#authentication.getPrincipal().getMembernick()}"></span>
																	</div>
																	<!--textarea-->
																	<form method="post" th:object="${freeCommentForm}" th:action="@{|/free/comment/reply/create/${freePosting.no}/${freeComment.no}|}">
																		<div th:replace="~{/free/free_form_errors :: formErrorsFragment}"></div>
																		<div>
																			<textarea class="commentAria" th:field="*{content}" rows="1" placeholder="댓글을 작성해주세요"
																			oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'></textarea>
																		</div>
																		<!--댓글 작성 버튼 영역-->
																		<div class="right">
																			<button type="submit" class="btn btn-light btn-sm">댓글등록</button>
																		</div>
																	</form>
																</div>
															</details>
														</div>

														<!--댓글의 댓글 반복 출력 영역-->
														<th:block th:each="freeCommentReply : ${freeComment.freeCommentReplyList}">
															<div class="commentReplyBox">
																<table style="width:100%;">
																	<tr>
																		<td style="width:70px;vertical-align:top;" rowspan="4">
																			<img class="authorImage" th:if="${freeCommentReply.author.image != null}" th:src="@{|/img/${freeCommentReply.author.image.storeFilename}|}" >
																			<img class="authorImage" th:unless="${freeCommentReply.author.image != null}" src="/img/default_profile.png" >
																		</td>
																		<td style="width:40%;text-align: left;" class="commentNickW">
																			<span th:text="${freeCommentReply.membernick}"></span>
																			<span class="badge bg-dark">프로필</span>
																			<span class="badge salmon">친구 추가</span>
																		</td>
																		<td style="text-align: right;">
																			<th:block sec:authorize="isAnonymous()">
																				<i class="fi fi-sr-thumbs-up ddabong"></i>
																				<span th:text="|추천(${freeCommentReply.ddabong.size()})|"></span>
																				<i class="fi fi-sr-thumbs-down nope"></i>
																				<span th:text="|비추(${freeCommentReply.nope.size()})|"></span>
																		  </th:block>
																		  <th:block sec:authorize="isAuthenticated()">
																				<i class="fi fi-sr-thumbs-up text-success ddabong" href="javascript:void(0);"
																				th:data-uri="@{|/free/comment/reply/ddabong/${freePosting.no}/${freeCommentReply.no}|}"
																				th:if="${#sets.contains(freeCommentReply.ddabong, #authentication.getPrincipal.getUsername())}"></i>
																				<i class="fi fi-sr-thumbs-up ddabong" href="javascript:void(0);"
																				th:data-uri="@{|/free/comment/reply/ddabong/${freePosting.no}/${freeCommentReply.no}|}"
																				th:if="${!#sets.contains(freeComment.ddabong, #authentication.getPrincipal.getUsername())}"></i>
																				<span th:text="|추천(${freeCommentReply.ddabong.size()})|"></span>
																				<a ></a>
																				<i class="fi fi-sr-thumbs-down text-danger nope" href="javascript:void(0);"
																				th:data-uri="@{|/free/comment/reply/nope/${freePosting.no}/${freeCommentReply.no}|}"
																				th:if="${#sets.contains(freeCommentReply.nope, #authentication.getPrincipal.getUsername())}"></i>
																				<i class="fi fi-sr-thumbs-down nope" href="javascript:void(0);"
																				th:data-uri="@{|/free/comment/reply/nope/${freePosting.no}/${freeCommentReply.no}|}"
																				th:if="${!#sets.contains(freeComment.nope, #authentication.getPrincipal.getUsername())}"></i>
																				<span th:text="|비추(${freeCommentReply.nope.size()})|"></span>
																		  </th:block>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">
																			<div th:text="${freeCommentReply.content}"></div>
																		</td>
																	</tr>
																	<tr class="commentInfo-s">
																		<td style="width:40%;text-align: left;">
																			<span th:text="${#temporals.format(freeCommentReply.createDate, 'yyyy-MM-dd HH:mm')}"></span>
																			<span th:if="${freeCommentReply.updateDate != null}" 
																			th:text="|최종 수정일 : ${#temporals.format(freeCommentReply.updateDate, 'yyyy-MM-dd HH:mm')}|"></span>
																		</td>
																		<td style="text-align: right;">
																			<span class="delete fw-bold" th:if="${freeCommentReply.author.memberid != null and #authentication.getPrincipal().getUsername() == freeCommentReply.author.memberid}"
																			th:data-uri="@{|/free/comment/reply/delete/${freePosting.no}/${freeCommentReply.no}|}" href="javascript:void(0);">댓글 삭제</span>
																		</td>
																	</tr>
																</table>
															</div>
														</th:block>
													</td>
												</tr>
											</table>
										</div>
									</th:block> 
								</div>
						</div>

						<!--댓글 쓰기 영역-->
						<div sec:authorize="isAuthenticated()">
							<!--댓글 폼 영역-->
							<div class="frame-comment">
								<!--닉네임 영역-->
								<div class="commentNickW">
									<span th:text="${#authentication.getPrincipal().getMembernick()}"></span>
								</div>
								<!--textarea-->
								<form method="post" th:object="${freeCommentForm}" th:action="@{|/free/comment/create/${freePosting.no}|}" >
									<div th:replace="~{/free/free_form_errors :: formErrorsFragment}"></div>
									<div>
										<textarea class="commentAria" th:field="*{content}" rows="1" placeholder="댓글을 작성해주세요"
										oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'></textarea>
									</div>
									<!--댓글 작성 버튼 영역-->
									<div class="right">
										<button type="submit" class="btn btn-light btn-sm">댓글등록</button>
									</div>
								</form>
							</div>
						</div>


					</div>

					<!--버튼 영역-->
					<div class="frame-d">
						<div class="frame-dl half left">
							<form th:action="@{/free/list}" method="get">
								<button type="submit" class="btn btn-secondary">목록</button>
							</form>
						</div>
						<div class="frame-dl half right">
							<p sec:authorize="isAuthenticated()">
								<a th:href="@{/free/create}"><button type="button" class="btn btn-primary">글쓰기</button></a>
								<span th:if="${freePosting.author.memberid != null and #authentication.getPrincipal().getUsername() == freePosting.author.memberid}">
									<a th:href="@{|/free/update/${freePosting.no}|}"><button type="botton" class="btn btn-light">수정</button></a>
									<a th:href="@{|/free/delete/${freePosting.no}|}"><button type="botton" class="btn btn-light" onclick="alert('정말로 삭제하시겠습니까?')">삭제</button></a>
								</span>
								<span sec:authorize="hasRole('ROLE_ADMIN')">
									<a th:href="@{|/free/update/${freePosting.no}|}"><button type="botton" class="btn btn-light">수정</button></a>
									<a th:href="@{|/free/delete/${freePosting.no}|}" ><button type="botton" class="btn btn-light" onclick="alert('정말로 삭제하시겠습니까?')">삭제</button></a>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			
		<!--전체 영역 마무리-->
		</div>
		

	
	
		<script layout:fragment="script" type='text/javascript'>
			const delete_elements = document.getElementsByClassName("delete");
			Array.from(delete_elements).forEach(function(element) {
					element.addEventListener('click', function() {
							if(confirm("정말로 삭제하시겠습니까?")) {
									location.href = this.dataset.uri;
							};
					});
			});
			const ddabong_elements = document.getElementsByClassName("ddabong");
			Array.from(ddabong_elements).forEach(function(element) {
					element.addEventListener('click', function() {
							if(element.classList.contains('text-success')) {
								if(confirm("정말로 추천을 취소하시겠습니까?")) {
										location.href = this.dataset.uri;
								};
							} else {
								if(confirm("정말로 추천하시겠습니까?")) {
									location.href = this.dataset.uri;
								};
							}
						});
					});
					const nope_elements = document.getElementsByClassName("nope");
					Array.from(nope_elements).forEach(function(element) {
						element.addEventListener('click', function() {
							if(element.classList.contains('text-danger')) {
								if(confirm("정말로 비공감을 취소하시겠습니까?")) {
										location.href = this.dataset.uri;
								};
							} else {
								if(confirm("정말로 비공감하시겠습니까?")) {
										location.href = this.dataset.uri;
								};
							}
					});
			});
			
			function submitCommentForm(commentForm) {
					const formData = new FormData(commentForm);
					$.ajax({
							url: commentForm.action,
							type: "POST",
							data: formData,
							processData: false,
							contentType: false,
							success: function (data) {
									$('.comment-container').html(data);
							},
							error: function (error) {
									console.log(error);
							}
					});
			}
			
			function requestEditCommentForm(commentItemContainer, comment){
					$.ajax({
							url: '/free/comment/updateForm',
							type: "POST",
							data: JSON.stringify(comment),
							processData: false,
							contentType: 'application/json',
							success: function (data) {
									$(commentItemContainer).children('.comment-item-body').replaceWith(data);
									commentEditFormWordCount(commentItemContainer);
							},
							error: function (error) {
									errorHandler(error);
							}
					});
			}
			
			function commentUpdateForm(commentItemContainer, comment){
					$.ajax({
							url: '/comment/editForm',
							type: "POST",
							data: JSON.stringify(comment),
							processData: false,
							contentType: 'application/json',
							success: function (data) {
									$(commentItemContainer).children('.comment-item-body').replaceWith(data);
									commentEditFormWordCount(commentItemContainer);
							},
							error: function (error) {
									errorHandler(error);
							}
					});
			}

		</script>
	


		<!--
		<script layout:fragment="script" >
		$(document).ready(function(){    
		$("#commentUpdate").click(replaceComment); //id="commentUpdate"인 태그에 click하면 function replaceComment() 실행
		});
		function replaceComment(){
			$.ajax({
				type: 'post',
				url:"/free/comment/update",                    //list.jsp에 AJAX요청
				success:function(data){

		
				$("#myContent").replaceWith(data);

				}
			});
				}
			
			function inputData(){
			    var book = $('#form').serialize();
			    $.ajax({
			        url: "/home/test7_1",
			        data: book,
			        type:"POST",
			        cache: false
			    }).done(function (fragment) {
			         $("#list").replaceWith(fragment);
			    });
		</script>
		
		
		
		
		<script layout:fragment="script" type='text/javascript'>
		function divReplacement(fragment) {
			$('#myComment').replaceWith(fragment);
		}
		</script>

		<script layout:fragment="script" type='text/javascript'>
		function divReplacement() {
			document.getElementById("myContent").href = "/free/free_comment_form.html";
		}
		</script>
		-->
	</body>
</html>