<!--답변 수정-->
<!--댓글 쓰기 영역-->
<div class="topline" th:fragment="freeCommentUpdate">
	<!--댓글 폼 영역-->
	<div class="wrapping outline">
		<!--테스트용-->
		<!--
		<form th:action="@{|/free/comment/create/${freePosting.no}|}" th:object="${freeCommentForm}" method="post">
			<div th:replace="~{/free/free_form_errors :: formErrorsFragment}"></div>
			<textarea th:field="*{content}" rows="10"></textarea>
			<input type="submit" value="답변등록">
		</form>
		-->
		<!--테스트용 종료-->
		<!--원래 코드-->
		<form method="post" th:action="@{|/free/comment/create/${freePosting.no}|}" th:object="${freeCommentForm}">
			<div th:replace="~{/free/free_form_errors :: formErrorsFragment}"></div>
			<div class="nick" th:text="${session.member.membernick}"></div>
			<div><textarea th:field="*{content}" placeholder="댓글을 작성해주세요"></textarea></div>
			<div class="dvd">
				<div class="dvd1">
				</div>
				<div class="dvd2">
					<button type="submit" class="btn btn-light btn-sm">댓글등록</button>
				</div>
			</div>
		</form>
		<!--원래 코드 종료-->
	</div>
</div>