<html layout:decorate="~{layout}">	
<div layout:fragment="content" class="container my-3">


<h2>FAQ</h2>
<hr>

<form th:action="@{|/faq/updateFAQ/${faq.no}|}">
	<div class="card border-primary mb-3" style="max-width: 100%;" >
	  <div class="card-header">
		<td th:text="${faq.faqCategory.category}"></td>
		</div>
	  <div class="card-body" >
	    <h4 class="card-title" th:text="${faq.subject}"></h4>
	    <p class="card-text" th:text="${faq.content}"></p>
	  </div>
	</div>
	<td>	
		<input type="submit" value="수정" class="btn btn-info" 		sec:authorize="isAuthenticated()"
				    th:if="${faq.author != null and #authentication.getPrincipal().getUsername() == faq.author.memberid}"
>
							
		<a th:href="@{|/faq/deleteFAQ/${faq.no}|}"  type="submit"  class="btn btn-danger"
			sec:authorize="isAuthenticated()"
		    th:if="${faq.author != null and #authentication.getPrincipal().getUsername() == faq.author.memberid}"
		              >삭제</a>	
	</td>
</form>	





</div>
</html>