<html layout:decorate="~{layout}">	
<div layout:fragment="content" class="container my-3">
<style>
	a.faq {
		text-decoration: none;
		font-size: 30px;
		
	}
	
</style>
	
	<a class="faq" th:href="@{/faq/list}">FAQ</a>
	<hr>
	
	
	
	
	<!--카테고리 넣기-->
		
			
		<div class="d-grid gap-2 d-md-block mb-3">
			<a class= "btn btn-primary" type="button" th:href="@{/faq/list}">전체</a>
		 <span  th:each="category : ${faqCategoryList}">
			
			 <a class="btn btn-primary" type="button" th:href="@{|/faq/list/${category.no}|}" th:text="${category.category}"></a>
		</span>
		<a th:href="@{/faq/category}" sec:authorize="hasRole('ROLE_ADMIN')">카테고리목록</a>
		</div>
		
		
		
		
		<!--FAQ 목록-->
	<table class="table table-hover">
		<thead class="table table-primary">
		    <tr>
		      <th scope="col">번호</th>
			  <th scope="col">카테고리</th>
		      <th scope="col">글제목</th>
		      <th scope="col">작성자</th>
		      <th scope="col">작성일</th>
		    </tr>
		</thead>
		<tbody>
			<tr class="table" th:each="faq , loop : ${paging}" >
			      
<!--번호-->		<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"> </td>	    
<!--카테고리-->	<td th:text="${faq.faqCategory.category}"> </td>
<!--글제목-->		<td><a th:href="@{|/faq/detail/${faq.no} |}" th:text="${faq.subject}"></a> </td>
<!--작성자-->	    <td th:text="${faq.author.membernick}"></td>
<!--작성일-->	    <td th:text="${#temporals.format(faq.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
	</table>
		
	
	
	<!--질문등록 버튼
	-->
	<a th:href="@{/faq/posting}" class="btn btn-primary mb-5" 	
	sec:authorize="hasRole('ROLE_ADMIN')"
	>질문등록</a>
	
	
	<!--페이징-->
	<div th:if="${!paging.isEmpty()}">
	  <ul class="pagination justify-content-center">
	    <li class="page-item" th:classappend="${!paging.hasPrevious}? 'disabled'">
	      <a class="page-link" th:href="@{|?page=${paging.number-1}|}">&laquo;</a>
	    </li>
		
	    <li th:each="page : ${#numbers.sequence(0, paging.totalPages -1)}" 
			th:if="${page-3 <paging.number and page+3 > paging.number}"
			th:classappend="${page == paging.number}? 'active'"	
			class="page-item ">
	      <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
	    </li>
	   
		
	    <li class="page-item" th:classappend="${!paging.hasPrevious}? ' disabled'">
	      <a class="page-link" th:href="@{|?page=${paging.number+1}|}">&raquo;</a>
	    </li>
	  </ul>
	</div>
	
	

	
	<!--아코디언 목록 연습
	<div class="accordion" id="accordionExample" >
		
		
	  <div class="accordion-item" th:each="faq , loop : ${paging}" >
	    <h2 class="accordion-header" id="headingOne">
	      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#${loop.count}" aria-expanded="false" aria-controls="${loop.count}" >
	       
			<span th:text="${faq.faqCategory.category}"></span>
			 Accordion Item #1
	      </button>
	    </h2>
	    <div id="${loop.count}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
	      <div class="accordion-body">
	        <strong>This is the first item's accordion body.</strong> 
	      </div>
	    </div>
	  </div>
	  
	  
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="headingTwo">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        Accordion Item #2
	      </button>
	    </h2>
	    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
	      <div class="accordion-body">
	        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
	      </div>
	    </div>
	  </div>
	
	  
	  
	</div>
	-->
	
	
	
</div>
</html>

