body {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
	font-size:1.25rem;
	
}

.box {
	width:50%;
	border: solid 1px #999999;
	margin: auto;
}

.coutext, .button {
	width:95%;
	margin: auto;
}

.coutext {
	border: solid 1px #e1e1e1;
	height:10rem;
}


.ncsr {
	color:red;
}

.frame-t1 {
  width:500px;
  margin:auto;
}

.frame-t2 {
  width:800px;
  height:500px;
  margin: auto;
  overflow: auto;
}

.frame-l {
  width:400px;
  height:500px;
  border-right:solid 1px #999999;
  float: left;
}

.frame-t1 table {
  width: 100%;

}

tr {
  border-bottom: 1px #e1e1e1 dashed;
}

td {
  padding:10px;
}

td input {
	border: none;
	width:100%;
	height:100%;
}

td input:focus {
	border: none;
}

.last {
  border: none;
}


