.rest_header{
	
	height: 100px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	margin-bottom: 30px;

}
.search{
	margin: auto;
	width: 630px;
}

.ra{
	padding: 20px;
	width: 640px;
	
	margin:auto;
}

.r2{
display: flex;
width: 600px;
margin:auto;
}


.r3{
	width: 150px;
	margin: 25px;	
	text-align: center;
	
background-color: rgb(255, 255, 255);

}

a:link, a:visited, a:hover {
	text-decoration-line: none;
}

