<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		
		<div class="d-flex justify-content-center">
			<h1>질문답변게시판</h1>
		</div>
		
		<div>
			<button th:onclick="|location.href='@{/askPosting/list(order=createDate , kw=${kw})}'|">최신순</button>
			<button th:onclick="|location.href='@{/askPosting/list(order=cnt , kw=${kw})}'|">조회순</button>
			<button th:onclick="|location.href='@{/askPosting/list(order=ddabong , kw=${kw})}'|">추천순</button>
		</div>
			
		<table class="table">
			<thead class="table-warning">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th width="100px">작성자</th>
					<th width="150px">작성일</th>
					<th width="80px">조회수</th>
					<th width="80px">추천수</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="askPosting , loop : ${paging}">
					<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
					<td><a th:href="@{|/askPosting/detail/${askPosting.no}|}" th:text="${askPosting.subject}"></a>
						<span class="text-danger small ms-2" th:if="${#lists.size(askPosting.askCommentList)>0}"
						th:text="${#lists.size(askPosting.askCommentList)}"></span>
					</td>
				
				<td>
											
											
					<ul class="navbar-nav me-auto">
					  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
					 th:if="${askPosting.membernick != null}" th:text="${askPosting.membernick.membernick}"></a>
					    <div class="dropdown-menu" >
				      <a class="dropdown-item" href="#"> 프로필 보기</a>
																			
				  <div class="dropdown-item" sec:authorize="isAuthenticated()"
				  th:if="${#authentication.getPrincipal().getUsername() != askPosting.membernick.memberid}"
				  >
					<form method="post" th:action="@{/friend/create}">
					<input type="hidden" name="friendid" th:value="${askPosting.membernick.membernick}">
					<button type="submit" class="btn btn-primary" style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .87rem;" onclick="alert('친구 추가 완료');" >친구 추가</button>
					</form>
					
					
					
					
				  </div>							
		    </div>
		  </li>
			</ul>											
				</td>
					<td th:text="${#temporals.format(askPosting.createDate , 'yyyy-MM-dd HH:mm')}"></td>
					<td th:text="${askPosting.cnt}"></td>
					<td th:text="${#lists.size(askPosting.ddabong)}"></td>
				</tr>
			</tbody>
		</table>
		
		<div class="row my-3">
			<div class="col-6">
				<a th:href="@{/askPosting/create}" class="btn btn-primary">질문 등록</a>
			</div>
			
			<div class="col-6">
				<div class="input-group justify-content-end">
					<input type="text" id="search_kw" class="form-control" th:value="${kw}">
					<button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
				</div>
			</div>
		</div>
		
		<div th:if="${!paging.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
						<span>prev</span>
					</a>
				</li>
				
				<li th:each="page : ${#numbers.sequence(0 , paging.totalPages -1)}"
				th:if="${page >= paging.number -5 and page <= paging.number +5}"
				th:classappend="${page == paging.number} ? 'active'" class="page-item">
					<a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
				</li>
				
				<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
						<span>next</span>
					</a>
				</li>
			</ul>
		</div>
		
		<form th:action="@{/askPosting/list}" method="get" id="searchForm">
			<input type="hidden" id="kw" name="kw" th:value="${kw}">
			<input type="hidden" id="page" name="page" th:value="${paging.number}">
			<input type="hidden" id="order" name="order" th:value="${order}">
		</form>
		
		<script layout:fragment="script" type="text/javascript">
			const page_elements = document.getElementsByClassName("page-link");
			Array.from(page_elements).forEach(function(element){
				element.addEventListener('click' , function(){
					document.getElementById('page').value = this.dataset.page;
					document.getElementById('searchForm').submit();
				});
			});
			const btn_search = document.getElementById("btn_search");
			btn_search.addEventListener('click' , function(){
				document.getElementById('kw').value = document.getElementById('search_kw').value;
				document.getElementById('page').value = 0;
				document.getElementById('searchForm').submit();
			});
		</script>
	</div>
</html>