<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

		<title>모두 모이자, 모모!!!</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="indexImage">
				<div role="banner">
					<!--검색-->
					<div class="search ">
						<div class="search_btn">
							<div class="input-group input-group-lg " >
							<input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="음식이나 식당을 검색해보세요">
							<button class="btn btn-secondary" type="button" id="btn_search">찾기</button>
							</div>
						</div>
							<form th:action="@{/rest/list/search}" method="get" id="searchForm">
							<input type="hidden" id="kw" name="kw" th:value="${kw}">	   
							</form>	
					</div>
				</div>
			</div>

			
		
			

					<!--룰렛
						
					<div class="r">	
					  <canvas width="380" height='380'></canvas>  
					  <button class="r_b" onclick="rotate()">룰렛 돌리기</button>
					</div>-->
			<div>
				
				
				
			</div>	
						
					
				<div class="new_list">	
					<!--식당사진 리스트-->
					<div class="list">
						<div class="new_box">
						<Span>new! 새로 오픈했어요~ 
						</Span>
						</div>
						
						<div class="card border-primary mb-3   c1"  th:each="rest : ${paging}">
							<a th:href="@{|/rest/detail/${rest.no}|}" class="a1">
								<!--사진-->
								<div class="c2">
							<!--	<img th:src="${rest.img}" class="img">-->	
									<img src="	https://flexible.img.hani.co.kr/flexible/normal/640/427/imgdb/original/2023/0306/20230306502777.jpg" class="img">

								</div>
									<div class="card-body" >
										<h5 class="card-title ">
										<span th:text="${rest.name}"></span></h5>
										<p class="card-text" th:text="${rest.menu}"></p>
											
										<i class="fi fi-sr-heart" style="color: rgb(255, 0, 0);">					
										</i>찜(3) &nbsp;|&nbsp;
										<i class="fi fi-sr-peach" style="color: #eb6864;">
										</i>평점(4.7)
									 </div>
							</a>			  
						</div>
					</div>
				</div>

				<div class="new_list">
					<!-- 같이먹기 방 리스트-->	
					<div class="list">
						<div class="new_box">
						<Span>new! 같이먹기방이 열렸어요~ 
						</Span>
						</div>
						<div class="card border-primary mb-3   c1" th:each="et : ${etpaging}">
							<a th:href="@{|/et/detail/${et.rest.no}/${et.no}|}" class="a1">
															 
									<!--사진-->	
							<div class="c2">					 
						<!--	<img th:src="${et.rest.img}" class="img">-->
								<img src="	https://flexible.img.hani.co.kr/flexible/normal/640/427/imgdb/original/2023/0306/20230306502777.jpg" class="img">
								
							</div>	
								<div class="card-body" >	
								<h5 class="card-title">
									<span th:text="${et.ettitle}"></span>
											
									<span style="font-size: 13px;" th:if="${#temporals.format(et.etdate , 'yyyy-MM-dd') <= #calendars.format(#calendars.createNow() , 'yyyy-MM-dd')}">(참여기간 만료)</span>
								</h5>				
									<!--태그-->						 
															  
									<div  >
									<h5 th:text="${et.rest.name}"></h5>
										<ul  class="tag">
											<li>
												<span th:text="|모집하는 인원수 : ${#lists.size(et.prtmember)}/${et.prtnumber}|"></span>
											</li>
																							
											<li>
												<span th:text="|신청일 : ${#temporals.format(et.regdate , 'yyyy-MM-dd HH:mm')}|"></span>
											</li>
																					
											<li>
												<span th:text="|같이먹는날 : ${#temporals.format(et.etdate , 'yyyy-MM-dd HH:mm')}|"></span>
											</li>
										</ul>
									</div>
								</div>
							</a>			  
						</div>

					</div>
				</div>
				
					
		</div>

			
				<!--검색 js-->
						<script layout:fragment="script" type='text/javascript'>

						const btn_search = document.getElementById("btn_search");
						btn_search.addEventListener('click', function() {
						    document.getElementById('kw').value = document.getElementById('search_kw').value;
						  
						    document.getElementById('searchForm').submit();
						});//검색
						


						//룰렛
						const $c = document.querySelector("canvas");
						const ctx = $c.getContext(`2d`);


						const product = [
						  "떡볶이", '돈가스', "초밥", "피자", "냉면", "치킨", '족발', "피자", "삼겹살",
						];

						const colors = ["#dc0936", "#e6471d", "#f7a416", "#efe61f ", "#60b236", "#209b6c", "#169ed8", "#3f297e", "#87207b", "#be107f", "#e7167b"];

						const newMake = () => {
						    const [cw, ch] = [$c.width / 2, $c.height / 2];
						    const arc = Math.PI / (product.length / 2);
						  
						    for (let i = 0; i < product.length; i++) {
						      ctx.beginPath();
						      ctx.fillStyle = colors[i % (colors.length -1)];
						      ctx.moveTo(cw, ch);
						      ctx.arc(cw, ch, cw, arc * (i - 1), arc * i);
						      ctx.fill();
						      ctx.closePath();
						    }

						    ctx.fillStyle = "#fff";
						    ctx.font = "18px Pretendard";
						    ctx.textAlign = "center";

						    for (let i = 0; i < product.length; i++) {
						      const angle = (arc * i) + (arc / 2);

						      ctx.save()  ;

						      ctx.translate(
						        cw + Math.cos(angle) * (cw - 50),
						        ch + Math.sin(angle) * (ch - 50),
						      );

						      ctx.rotate(angle + Math.PI / 2);

						      product[i].split(" ").forEach((text, j) => {
						        ctx.fillText(text, 0, 30 * j);
						      });

						      ctx.restore();
						    }
						}
						const rotate = () => {
						  $c.style.transform = `initial`;
						  $c.style.transition = `initial`;
						  
						  setTimeout(() => {
						    
						    const ran = Math.floor(Math.random() * product.length);

						    const arc = 360 / product.length;
						    const rotate = (ran * arc) + 3600 + (arc * 3) - (arc/4);
						    
						    $c.style.transform = `rotate(-${rotate}deg)`;
						    $c.style.transition = `2s`;
						    
						    setTimeout(() => alert(`오늘의 야식은?! ${product[ran]} 어떠신가요?`), 2000);
						  }, 1);
						};
						newMake();
						
						</script>
			</body>
		</html>

