<!DOCTYPE html>
<html land="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- 여기까지는 기본 세팅  -->
	
	<!--부트스트랩 css-->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	
	<!--부트스트랩 js -->
	<script th:src="@{/bootstrap.min.js}"></script>  
	
	<title>모두모이자 게시판</title>
	
	
	
</head>	

<body>
	
	<!-- 내비게이션 바  -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav> 
	
	<!-- 기본 탬플릿 안에 삽입된 내용 시작-->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 탬플릿 안에 삽입된 내용 끝-->
	
	<!--자바스크립트 -->
	<th:block layout:fragment="script"></th:block>
	
	
</body>

</html>
