<!-- 내비게이션 바-->
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">MOMO</a>
	
	<!-- 햄버거 버튼 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	
	<!--메뉴 나누기-->
	<div class="dvd">
		<!--메뉴 나누기1-->
	    <div class="collapse navbar-collapse dvd1" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb- mb-lg-0">
	        <li class="nav-item">
				<span><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">login</a></span>
				<span sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/member/logout}">logout</a></span>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/signup}">signup</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/faq/list}">FAQ</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/notice/list}">Notice</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/askPosting/list}">Q&A</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/free/list}">Free</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/free/list}">Attend</a>
	        </li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/mypage/inquiryPosting}">마이페이지</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/mypage/inquiryPosting/list}">문의글 보러가기</a>
			  </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
	          <div class="dropdown-menu">
	            <a class="dropdown-item" href="#">Action</a>
	            <a class="dropdown-item" href="#">Another action</a>
	            <a class="dropdown-item" href="#">Something else here</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="#">Separated link</a>
	          </div>
	        </li>
	
	      </ul>
	    </div>
		<!--메뉴 나누기2-->
		<div class="collapse navbar-collapse dvd2" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb- mb-lg-0">
			  <li class="nav-item">
				<a sec:authorize="isAuthenticated()" th:text="|${#authentication.getPrincipal().getMembernick()}님 환영합니다.|"
				th:href="@{/mypage/profile}"></a>
			  </li>
			</ul>
		</div>
	</div>
  </div>
</nav>
