<html layout:decorate="~{layout}">
 <!--레이아웃-->
  <div layout:fragment="content">
	
	<style>
		a.no {
			        
					text-decoration: none;
					color : #eb6864;
					font-size: 20px;
				}
				
		span {
			font-size:15px;
		}
		
		.profile {
				    width: 10%;
				    height: 100%;
				    object-fit: cover;
					border-style:solid;
					border-width:1px;
					border-color:black;
					border-radius:100%;
				}
		
		
	</style>
	<!--전체 틀-->
	<div class="card border-primary container">
		<!--게시물-->
		<div class="container my-3">
			<!--게시판 종류-->
			<div>
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="no" th:href="@{/inquiryPosting/list}">Q&A 바로가기 ></a>
			    <a sec:authorize="hasRole('ROLE_MEMBER')" class="no" th:href="@{/inquiryPosting/myList}">문의 글 바로가기 ></a>
			</div>
			<hr>
			<span><a sec:authorize="hasRole('ROLE_MEMBER')"  th:href="@{|/inquiryPosting/update/${posting.no}|}">수정</a></span>
			      <a th:href="@{|/inquiryPosting/delete/${posting.no}|}">글 삭제</a>
			<hr>
				<!--제목-->
				<div class="mb" style="font-size:25px;" th:text="${posting.subject}"></div>
				<!--프로필 이미지, 아이디, 이름, 작성일, 조회수 전체-->
				 <div>
					<!--프로필 이미지-->
				   <div style="float:left">
					  <img class="profile" th:if="${posting.author.image != null}" th:src="@{|/img/${posting.author.image.storeFilename}|}" >
					  <img class="profile" th:unless="${posting.author.image != null}" src="/img/default_profile.png" >
					<!--이름, 작성자-->				
					  <span style="font-weight:bold;" th:text="${posting.author.memberid}"></span>
					  <span th:text="${posting.membernick}"></span>
					  <span th:if="${posting.updateDate != null}" th:text="${#temporals.format(posting.updateDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
					  <span th:if="${posting.updateDate == null}" th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
				    </div>
				  </div>
				</div>
				<hr>
				<!--본문-->
				<div>
					<span th:text="${posting.content}"></span>
					<hr>
				</div>

			
		</div>
		<!--댓글-->
		<div>
			<h4>댓글 목록</h4>
			<hr>
			<!--댓글 목록-->
			<div th:each="comment : ${posting.commentList}">
				<span th:text="${comment.content}"></span>
				<span th:text="${comment.membernick}"></span>
				<span th:text="${#temporals.format(comment.createDate, 'yyyy.MM.dd hh:mm:ss')}"></span>
				
			    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{|/inquiryComment/update/${posting.no}/${comment.no}|}">수정</a>
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{|/inquiryComment/delete/${posting.no}/${comment.no}|}">삭제</a>
			
				<hr>
			</div>
			
			<!--댓글 작성-->
			<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{|/inquiryComment/create/${posting.no}|}" th:object="${inquiryCommentForm}" method="post">
			  <div th:replace="~{form_errors :: formErrorsFragment}"></div>
				<div style="display:inline">
				<textarea rows="3" style="width:85%" th:field="*{content}"></textarea>
			  </div>
			  <div style="display:inline">
				<button type="submit" class="btn btn-primary">댓글 등록</button>
			  </div>
			  
			</form>
		</div>
		
	</div>
	</div>
</html>