<html layout:decorate="~{/inquiry/layout}">
<div class="container my-3" layout:fragment="content">
<form th:action="@{|/inquiryPosting/update/${inquiryPosting.id}|}" th:object="${inquiryPostingForm}" method="post">
	
<div th:replace="~{/inquiry/form_errors :: formErrorsFragment}"></div>
<!--제목-->
<div>
	<th>제목</th>
	<!--에러 처리-->
	<input th:field="*{subject}">
</div>

<!--내용-->
<div>
	<th>내용</th>
	<!--에러 처리-->
    <input th:field="*{content}">
</div>

  <button type="submit">저장하기</button>
</form>
</div>
</html>