<html layout:decorate="~{/inquiry/layout}">
	<div layout:fragment="content">
		
		<style>
	
		th.sub {
			width:30%;
			text-align : center;
			font-size: 15px;
		}
		
		
		th {
			text-align : center;
			font-size: 15px;
		}
 
		td{
			text-align : center;
			font-size: 13px;
		}
		
		td.st {
			width:35%;
			font-size: 13px;
			text-align :start;
		}

		a.no {
			text-decoration: none;
			color :black;
			font-size : 30px;
			
		}
		
		a.noline {
			text-decoration: none;
			color : black;
		}
		</style>
		

<!--전체-->
<div class="container">
	<!--게시판 이름-->
	<div>
		<a class="no" th:href="@{/mypage/inquiryPosting/list}">문의한 글</a>
		<hr>
	</div>
	
	<!--글 목록-->
	<table class="table table-hover">
		<thead>
			<tr class="table-primary">
			<th></th>
			<th class="sub">제목</th>
			<th>작성자</th>
			<th>작성일</th>
			</tr>
		</thead>
		<tbody>
			<div>
				<tr class="table" th:each="posting :${paging}">
				   <td>Q</td>
				   <td class="st" style="width:50%;">
					<!--제목이 너무 길어지면 ....으로 나오는 방법으로 하기-->
					<a class="noline" th:href="@{|/mypage/inquiryPosting/detail/${posting.id}|}" th:text="${posting.subject}"></a>
				   </td>
				   <td th:text="${posting.membernick}"></td>
				   <!--여기에 만약 오늘 날짜랑 같다면 시간만 출력하게 하고 // 아니라면 시간은 제외 날짜만 출력할 수 있게 변경-->
				   <td th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd hh:mm')}"></td>
				</tr>
			</div>
		</tbody>
	</table>	
	
	<!--페이징-->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">

			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
					<span>이전</span>
				</a>
			</li>
			
			<li th:each="page : ${#numbers.sequence(0, paging.totalPages-1) }"
			th:if="${page >= paging.number -3 and page <= paging.number + 3}"
			th:classappend="${page==paging.number} ? 'active'" class="page-item">
				<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
			</li>
			
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	</div>
	<!--검색-->
	
</div>

</div>

</html>