<html layout:decorate="~{layout}">
 <!--레이아웃-->
  <div layout:fragment="content">
	
	<style>
		a.no {
			        
					text-decoration: none;
					color : #eb6864;
					font-size: 15px;
				}
				
		span {
			font-size:15px;
		}
		.profile {
				    width: 5%;
				    height: 100%;
				    object-fit: cover;
					border-style:solid;
					border-width:1px;
					border-color:black;
					border-radius:100%;
				}
	</style>
	<!--전체 틀-->
	<div class="card border-primary container">
		<!--게시물-->
		<div class="container my-3">
			<!--게시판 종류-->
			<div>
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="no" th:href="@{/inquiryPosting/list}">Q&A ></a>
			    <a sec:authorize="hasRole('ROLE_MEMBER')" class="no" th:href="@{/inquiryPosting/myList}">문의 글 ></a>
			</div>
			<hr>

			</form>
		
				<!--제목-->
				<div class="mb" style="font-size:25px;" th:text="${posting.subject}"></div>
				<!--프로필 이미지, 아이디, 이름, 작성일, 조회수 전체-->
				<div>
					<!--프로필 이미지-->
				   <div style="float:left">
					  <img class="profile" th:if="${posting.author.image != null}" th:src="@{|/img/${posting.author.image.storeFilename}|}" >
					  <img class="profile" th:unless="${posting.author.image != null}" src="/img/default_profile.png" >
				   </div>
				   <!--아이디, 이름, 작성일 , 조회수 전체-->
				   <div>
					<!--이름, 작성자-->
				       <div>
					      <span style="font-weight:bold;" th:text="${posting.author.memberid}"></span>
					      <span th:text="${posting.membernick}"></span>
					  </div>
				    <!--작성일-->
					   <div>
						  <span th:if="${posting.updateDate != null}" th:text="${#temporals.format(posting.updateDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
					      <span th:if="${posting.updateDate == null}" th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
				      </div>
				   </div>
				</div>
				<hr>
				<!--본문-->
				<div>
					<span th:text="${posting.content}"></span>
					<hr>
				</div>

			
		</div>
		<!--댓글-->
		<div>
			<!--댓글 수정-->
			<div> 
				<form th:action="@{|/inquiryComment/update/${posting.no}/${comment.no}|}" th:object="${inquiryCommentForm}" method="post">
					<div th:replace="~{form_errors :: formErrorsFragment}"></div>
					<input type="text" th:field="*{content}">
					<span th:text="${comment.membernick}"></span>
					<span th:text="${#temporals.format(comment.createDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
					<button type="submit" class="btn btn-danger">수정하기</button>
				</form>
			</div>	 
		</div>
		
	</div>
	</div>
</html>