<html layout:decorate="~{layout}">
<div layout:fragment="content">
	
	<style>
		a.no {
			        
					text-decoration: none;
					color : #eb6864;
					font-size: 15px;
				}
				
		span {
			font-size:15px;
		}
		
		.profile {
				    width: 20%;
				    height: 100%;
				    object-fit: cover;
					border-style:solid;
					border-width:1px;
					border-color:black;
					border-radius:100%;
				}
	</style>
	<div class="card border-primary container">
			<!--게시물-->
			<div class="container my-3">
				<!--게시판 종류-->
				<div>
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="no" th:href="@{/inquiryPosting/list}">Q&A ></a>
				    <a sec:authorize="hasRole('ROLE_MEMBER')" class="no" th:href="@{/inquiryPosting/myList}">문의 글 ></a>
				</div>
				<hr>
				
			
					<!--제목-->
					<form th:action="@{|/inquiryPosting/update/${posting.no}|}" th:object="${inquiryPostingForm}" method="post">
									
								<div th:replace="~{form_errors :: formErrorsFragment}"></div>
								<!--제목-->
								<div>
									<th>제목</th>
									<!--에러 처리-->
									<input type="text" th:field="*{subject}">
								</div>
					<!--프로필 이미지, 아이디, 이름, 작성일, 조회수 전체-->
					<div>
						<!--프로필 이미지-->
					   <div style="float:left">
						  <img class="profile" th:if="${posting.author.image != null}" th:src="@{|/img/${posting.author.image.storeFilename}|}" >
						  <img class="profile" th:unless="${posting.author.image != null}" src="/img/default_profile.png" >
					   </div>
					   <!--아이디, 이름, 작성일 , 조회수 전체-->
					   <div>
						<!--이름, 작성자-->
					       <div>
						      <span style="font-weight:bold;" th:text="${posting.author.memberid}"></span>
						      <span th:text="${posting.membernick}"></span>
						  </div>
					    <!--작성일-->
						   <div>
							  <span th:if="${posting.updateDate != null}" th:text="${#temporals.format(posting.updateDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
						      <span th:if="${posting.updateDate == null}" th:text="${#temporals.format(posting.createDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
					      </div>
					   </div>
				   </div>
			
			<hr>

			<!--내용-->
			<div>
				<th>내용</th>
				<!--에러 처리-->
			    <input type="text" th:field="*{content}">
				<hr>
			</div>

			  <button type="submit">저장하기</button>
			</form>
		</div>
	</div>
</div>
</html>