<!DOCTYPE html>
<html lang="ko">
	<head>
		<!--Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--bootstrap css-->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<!--Bootstrap js-->
		<script th:src="@{/bootstrap.min.js}"></script>
		<script th:src="@{/bootstrap.bundle.min.js}"></script>
		<title>게시판</title>
	</head>
	
	<body>
		<!--기본 탬플릿 안에 삽입된 내용-start-->
		<nav th:replace="~{/inquiry/navbar :: navbarFragment}"></nav>
		<th:block layout:fragment="content"></th:block>
		<!--end-->
	</body>
</html>
