<html layout:decorate="~{/inquiry/layout}">
	<div layout:fragment="content">
		<form th:action="@{/user/signup}" th:object="${userForm}"  method="post">
		<div th:replace="~{/inquiry/form_errors :: formErrorsFragment}"></div>
		<div>
			<label>아이디</label>
			<input type="text" th:field="*{memberid}">
		</div>
		
		<div>
			<label>비밀번호1</label>
			<input type="password" th:field="*{password1}">
		</div>
		
		<div>
			<label>비밀번호2</label>
			<input type="password" th:field="*{password2}">
		</div>
		
		<div>
			<label>이름</label>
			<input type="text" th:field="*{membernick}">
		</div>
		
		<div>
			<label>이메일</label>
			<input type="email" th:field="*{email}" >
		</div>
		<button type="submit" class="btn btn-danger">회원가입</button>	
		</form>
	</div>
</html>